<h1> <%= @student.name %> </h1>

<h3> <%= @student.schedule %> </h3>


<% @enrolled_courses.each do |enrolled_course| %> 
    <h3> <%= enrolled_course.title %> - <%= enrolled_course.time %> - <%= enrolled_course.teacher.name %> </h3>
    <% end %> 


<%= form_tag("/enrolled_courses/new", :method => "get") do %>
    <%= hidden_field_tag :student_id, @student.id %>
    <%= submit_tag("Add a course for this student") %>
<% end %>

<h3> <%= link_to "View all students", students_path %> </h3>
