<h2> <%= link_to "Sign up", new_teacher_path %> </h2>
<h2> <%= link_to "Sign in", signin_path %> </h2>
<h2> <%= link_to('Sign in with Facebook!', '/auth/facebook', method: :post) %> </h2>
<h2> <%= link_to('Sign in with Github!', '/auth/github', method: :post) %> </h2>
<h2> <%= link_to "View all Courses", courses_path %> </h2>
<% if @teacher %>
     <h2> <%= link_to "Your teacher portal", teacher_path(@teacher) %> </h2>
<% end %>
<h2> <%= notice %> </h2>

