
<h1> <%= @teacher.name %></h1>
<br>
<h2> <%= notice %> </h2>
<h2> <%= @teacher.bio %> </h2>
<%= link_to "View all teachers", teachers_path %>
<br>
<%= link_to "Create course", new_teacher_course_path(@teacher) %>
<br>
<%= link_to "#{@teacher.name}'s Courses", teacher_courses_path(@teacher) %> 
<br>
<%= link_to "View all courses", courses_path %>
<br>
<%= link_to "Edit your profile", edit_teacher_path(@teacher) %>
<br>
<% if @teacher.admin? %>
    <%= link_to "Students Index", students_path %> 
<% end %>

