<% @courses.each do |course| %>
    <h3> <%= course.title %> - <%= course.teacher.name %> - <%= course.time %> 
        <% if @teacher.id == course.teacher.id %>
         <%= link_to "Edit this Course", edit_course_path(course) %> </h3>
        <% end %>
<% end %>

<%= link_to "Create course", new_teacher_course_path(@teacher) %>
<br>
<%= link_to "Your teacher portal", teacher_path(@teacher) %>