<h1> Create a Course </h1>

<%= form_for(@course) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :time %>
    <%= f.text_field :time %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.hidden_field :teacher_id, value: @teacher.id %>
    <%= f.submit %>
    <% end %>