<h1> <%= @course.title %> </h1>
Taught by: <%= link_to "#{@course.teacher.name}", teacher_path(@course.teacher) %>
<br>
<h3> <%= @course.time %> </h3>
<h3> <%= @course.description %> </h3>
<br>
<% if @teacher.id == @course.teacher.id %>
    <%= link_to "Edit this Course", edit_course_path(@course) %> 
<% end %>
<br>
<%= link_to "Your teacher portal", teacher_path(@teacher) %>
